<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-primary text-center">About</h1>
			<p>
			Ce site est un projet, pas fini par manque de temps, par <a href="https://www.linkedin.com/in/matteo-mervoyer/">Matteo MERVOYER</a>
			</p>
			<p>
				Le site est une interface simple, d'echange de jeuxvideos entre particuliers, avec un chat pour faciliter la communication, dans le futur, une recherche precise pourrait etre developpee.
			</p>
			<p>
			Le site se base sur les technologies <a href="http://meanjs.org/">MEAN</a>
				Le site comporte un system d'auth relie a une BDD MongoDB, un backend en NodeJS et Express, le front est en AngularJS
			</p>
			<p>Vous pouvez voir les sources du site sur mon gitlab <a href="https://gitlab.com/MatteoMer/websiteSwapJV">ici!</a></p>
		</div>
	</div>
</div>
