<nav class="navbar navbar-dark bg-dark">
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item">
			<a routerLinkActive="active" routerLink="home" class="nav-link">Home</a>
		</li>
		<li class="nav-item">
			<a routerLinkActive="active" routerLink="messages" class="nav-link">Messages</a>
		</li>
		<li class="nav-item" *ngIf="isAuth === true">
			<a routerLinkActive="active" routerLink="preferences"class="nav-link">Preferences</a>
		</li>
		<li class="nav-item">
			<a routerLinkActive="active" routerLink="about"class="nav-link">About</a>
		</li>
		<li class="nav-item" *ngIf="isAuth === false">
			<a routerLinkActive="active" routerLink="register"class="nav-link">Register</a>
		</li>
		<li class="nav-item" *ngIf="isAuth === false">
			<a routerLinkActive="active" routerLink="login"class="nav-link">Login</a>
		</li>
	</ul>
</nav>
