<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center;" class="text-primary">Login</h1>

			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
				<div class="form-group">
					<label for="pseudoInput">Pseudo</label>
					<input type="text" class="form-control" id="pseudoInput" placeholder="Veuillez mettre un pseudo" name="pseudoInput" ngModel required>
				</div>

				<div class="form-group">
					<label for="passwordInput">Mot de passe</label>
					<input type="password" class="form-control" id="passwordInput" placeholder="Veuillez mettre un mot de passe" name="passwordInput" ngModel required>
				</div>
				<button type="submit" class="btn btn-primary" [disabled]="f.invalid">Login</button>
			</form>
		</div>
	</div>
</div>
