<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-secondary" style="text-align: center;">Annonces en ligne</h2>
			<ul class="list-group">
				<app-post *ngFor="let post of posts"
					[postTitle]="post.title"
					[postContent]="post.content"></app-post>
			</ul>
		</div>
	</div>
</div>
