<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center;" class="text-primary" *ngIf="pseudo !== undefined">Bienvenue {{ pseudo }} !</h1>
			<h1 style="text-align: center;" class="text-primary" *ngIf="pseudo === undefined">Veuillez vous connectez</h1>
		</div>
		<div class="col-md-12">
			<div style="text-align: center; margin-" *ngIf="pseudo == undefined">
				<form class="form-group">
					<input type="text" placeholder="Nouvelle annonce" id="inputPost"><br>
					<input type="textbox" placeholder="Contenu de l'annonce">
				</form>
			</div>
		</div>
	</div>
</div>

<app-list-post></app-list-post>
